In [ ]:
##Ejercicio 1: Crear un cuaderno Jupyter

In [ ]:
##Ejercicio 2: Crear celda de markdown con título  Data Science Tools and Ecosystemusando el encabezado de estilo H1.

# Data Science Tools and Ecosystem

In [ ]:
##Ejercicio 3: Crear una celda de Markdown para una introducción

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
##Ejercicio 10: Insertar una celda de Markdown para enumerar los objetivos

**Objectives:**
1. Create a Jupyter notebook
2. Insert code and markdown cells
3. Learn about jupyterLab tools
* List popular languages for Data Science
* How to enumerate lists in a cell
* make a title bold
* perform arithmetic operations in a code cell.

In [ ]:
##Ejercicio 4: Crear una celda de Markdown para enumerar los lenguajes de la ciencia de datos

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia

In [ ]:
##Ejercicio 5: Crear una celda de Markdown para enumerar las bibliotecas de ciencia de datos

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

In [ ]:
##Ejercicio 6: Cree una celda de Markdown con una tabla de herramientas de ciencia de datos

Data Science Tools|
-------|
DataLab |
JupyterLab Notebook|
Spyder|

In [ ]:
##Ejercicio 7: Cree una celda de Markdown que presente ejemplos de expresiones aritméticas

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(2*6)+5

17

In [ ]:
##Ejercicio 8 - Crear una celda de código para multiplicar y sumar números

In [2]:
##his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
##Ejercicio 9 - Crear una celda de código para convertir minutos a horas

In [5]:
##his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
##Ejercicio 11 - Crear una celda de Markdown para indicar el nombre del autor

## Author
Silvana Ballestas